<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebooking</title>
</head>
<body>
    {% block app-content %}{% endblock app-content %}
</body>
</html>